<html lang="en">
  <%- include("./partial/head.ejs") %>
<body>
  <%- include("./partial/navbar.ejs") %>
    <div class="containerss text-center">
      <p class="successm"><%= message %></p>
      <br/>
      <a href="/home" class="btn btn-primary">Go to Home</a>
    </div>
  <%- include("./partial/footer.ejs") %>
</body>
</html>
