<html lang="en">
  <%- include("./partial/head.ejs") %>
<body >
  <%- include("./partial/navbar.ejs") %>

  <div class="imageback">
   <div class="containerss">
     <div class="row">
       <div class="col-md-6">

         <div class="text" style="padding:0px 30px; margin-top: 250px;">
           <p class="bigt">Top Notch Sneakers & Wears</p>
           <p class="smallt">Get amazing premium Wears and Shoes, move with Confidence and Comfort</p>
         </div>

       </div>
        <div class="col-md-4"></div>
     </div>
   </div>
  </div>

  <!-- --------------------------------images of product -->

<div class="product">
  <div class="containerss " style="padding:0px 70px;">

    <div class="wordp text-center">OUR PRODUCT</div>      
    
    <div class="row">

      <div class="col-md-4 proimg">
        <img src="https://images.pexels.com/photos/8394709/pexels-photo-8394709.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="MEN SHOES" srcset="">

        <a href=""><p><strong>SHOE</strong></p></a>
      </div>
      <div class="col-md-4 proimg">
        <img src="https://images.pexels.com/photos/8400600/pexels-photo-8400600.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="MEN SHOES" srcset="">

        <a href=""><p><strong>WEARS</strong></p></a>
      </div>
      <div class="col-md-4 proimg">
        <img src="https://images.pexels.com/photos/1639729/pexels-photo-1639729.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="MEN SHOES" srcset="">

        <a href=""><p><strong>ACCESSORIES</strong></p></a>
      </div>
      
    </div>
  </div>
</div>

<!-- --------------------------------------------------images of product end --> 


<!-- -------------------------------------------------agent section -->

<div class="agentw">
  <div class="containerss" style="padding:0px 30px;">
    <div class="row">
      <div class="col-md-5">
       <div class="contents" style="margin-left: 200px ;">
          <h1>PRETTY PRICE</h1>
          <p>Get in Touch with Our Agents</p>
          <button>Contact Agents</button>
       </div>
      </div>
       <div class="col-md-7 agen">
         <img src="https://images.pexels.com/photos/2072453/pexels-photo-2072453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="">
       </div>
    </div>
  </div>
</div>


<!-- -------------------------------------------------agent section end -->


  <%- include("./partial/footer.ejs") %>
</body>
</html>
