body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  padding-bottom: 350px;
}
@media screen and (max-width: 767px) {
  body {
    padding-bottom: 1000px;
  }
}

.navbar-toggler-icon, .navbar-toggler{  
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: black;
  color: #000;
}


a {
  color: black;
}

.imageback{
  background-image: url("https://images.pexels.com/photos/684152/pexels-photo-684152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 730px;
}
.bigt{
  font-size: 5rem;
  font-weight: 900px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

.smallt{
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.text{
  padding-top: 200px;
}
.proimg img{
    height: 500px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 0px 15px #000;
    margin-bottom: 30px;
}

.proimg img:hover{
  box-shadow: 0px 0px 15px #000;
  transform: scale(1.1);
}

.proimg{
  text-align: center;
  font-size: larger;
  text-decoration: none;
}
.wordp{
  font-size: 2rem;
  color: rgb(16, 67, 16);
  padding-bottom: 40px;
  font-weight: 900;

}

.product{
  margin-top: 80px;
}

.agentw{
  margin-top: 80px;
  background-color: rgb(247, 250, 247);
  padding-top: 30px;
  padding-bottom: 30px;
  height: 600px;
}
.contents{
  margin-top: 150px;
}
.contents h1{
  font-size: 3rem;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 49, 2);
}
.contents p{
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(2, 49, 2);
}
.agen img{
  height: 500px;
  width: 400px;
  float: right;
  object-fit: cover;
  border-radius: 8px;
}
.contents button{
  background-color: rgb(196, 243, 196);
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: none;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
}

.contents button:hover{
 border: 1px solid black;
  box-shadow: 0 0 5px #000;
}
.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(2, 49, 2);
}
.registers{
  margin-top: 150px;
  margin-bottom: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgb(239, 244, 239);
}
.registers h1{
    padding-bottom: 30px;
    font-weight: bolder;
}

.footer{
  width: 100%;
  color: white;
  padding-top: 40px;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 40px;

}
footer{
 background-color: rgb(1, 62, 1);
}


#des{
  color: rgb(9, 9, 232);
}
#city{
  color:rgb(239, 16, 16);
}
#time{
  color:rgb(24, 149, 198)
}

.addressf h3{
  padding-left: 10px;
  margin-top: 10px;
  font-weight: bold;

 }
 .addressf h6{
 padding-left: 3px;
 }
 
.servicet h3, .accounttxt h3 {
  margin-top: 10px;
  font-weight: bold;
}
.servicet li, .accounttxt li{
  font-size:medium;
  padding-top: 9px;
  list-style-type: none;
  
}

.location{
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.usethem{
  border: none;
  box-shadow:0 0 10px rgb(42, 121, 3);
  border-radius: 10px;
  padding: 50px;
  background-color: rgb(231, 243, 232);
  width: 30%;
  margin: 40px auto;
  
}
.yuse{
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin: 40px;
}
.addpb, .purch{
  margin: 40px ;
  font-weight: bold;
}
.copyrig{
padding: 20px;
  text-align: center;
}
.moveleft{
  margin-left: -140px;
}
.photos{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 20px;
  border-radius: 4px;
}
.photos:hover{
  box-shadow: 0px 0px 15px #000;
  transform: scale(1.1);
}
.img-para p{
  /* font-size: 1.0rem; */
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(2, 49, 2);
  margin-left: 20px;
  line-height: 0.7;
}
.img-para{
  border: 1px thin black;
  padding: 6px;
  border-radius: 5px;
  background-color: rgb(231, 227, 214);
  margin: 7px;
}

.imp-header{
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: rgb(236, 241, 232);
  padding: 8px 20px;
}
.imp-header a{
 text-decoration: none;
}
.imp-header a:hover{
  color: rgb(235, 235, 232);
}

.imp-header:hover {
 border: 1px solid rgb(249, 248, 248);
  background-color: rgb(176, 176, 171);
}
.contented{
  display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;

}

.nav-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.editp{
  margin-top: 40px;
  font-weight: bolder;
  color: rgb(2, 49, 2);
}
.dit{
  margin: 20px auto;
  width: 500px;
  height: 300px;
}
.ditw{
  margin-left: 70px;
  margin-top: 40px;
  font-size: 1rem;
}
.accordbtn{
  background-color: rgb(185, 228, 185);
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  margin-left: 60px;
  padding:8px 30px;
}
.accordbtn:hover{
  background-color: rgb(3, 47, 3);
  color: rgb(247, 242, 242);
}
.xx{
  margin-left: 40px;
}
.jj{
  margin-left: 120px;
  margin-top: 20px;
}
.ebtn{
  display: flex;
  flex-direction: row;
  
}
.market-prod{
  text-align: center;
  margin-top: 40px;
  font-weight: bolder;
}
.prodiv{
  display: flex;
  flex-wrap: wrap;
}
.paynow{
  margin-top: 40px;
  font-weight: bold;
  color: rgb(5, 31, 5);
  padding: 60px 30px;
  border: 1px solid rgb(97, 199, 97);
  box-shadow: 0 0 4px rgb(97, 199, 97);
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  font-size: 1rem;
}
.paynow label{
  padding-right: 6px;
}
.paynow input{
 width: 65%;
 height: 35px;
 border-radius: 8px;
 box-shadow: none;
}
.paynow button{
  width: 30%;
  height: 35px;
  border-radius: 8px;
  box-shadow: none;
  background-color: rgb(42, 152, 42);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-left:170px;
  margin-top: 40px;
} 
.paynow button:hover{
  background-color: rgb(243, 248, 243);
  color: rgb(22, 140, 91);
}
.checkoutword{
font-size: 1.2rem;
  margin-left: 520px;
  font-weight: bolder;
}
.successm{
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top: 150px;
}
.Quantity{
  margin-left: 2px;
   margin-right: 2px;
  width: 50px;
}
.textsuc{
  font-size: 0.6rem !important;
  margin-left: 10px;
}
.addproductw{
  font-size: 0.6rem !important;
  background-color: rgb(47, 145, 47);
}
.paymoney, .removeitem{
  font-weight: bolder;
  color: rgb(5, 31, 5);
  padding: 6px 30px;
  border: 0.5px solid rgb(97, 199, 97);
  box-shadow: 0 0 4px rgb(97, 199, 97);
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 60px;
  margin-bottom: 30px;
}
.paymoney:hover, .removeitem:hover{
  background-color: rgb(3, 47, 3);
  color: rgb(247, 242, 242);
}
