<footer>
<div class="footer">
<div class="addres">
    <h4>Market- <span class="danger">Connect</span></h4>
 
    <p><span><i id="city" class="fa-solid fa-house-chimney"></i></span>Edo City Ohkoromi,Benin Nigeria</p>
     <p><span><i id="des" class="fa-solid fa-envelope"></i></span> info@decagon.com</p>
    <p><span><i id="num" class="fa-solid fa-phone"></i></span> (+234)7144477700</p>
    <p><span><i class="fa-solid fa-timer"></i></span><i id="time" class="fa-solid fa-clock"></i>Open time:8:00AM - 6:00pm</p>

</div>

<div class="contacted">
    <h4 >Service</h4>
    <p>Contact</p>
    <p>Shops</p>
     <p>Support</p>
    <p>Services</p>
</div>


<div class="account">
    <h4>My Account</h4>
    <p>Brands</p>
    <p>Reviews</p>
    <p>Contact</p>
</div>
</div>

<h5 class="copyrig text-center">Copyright Ⓒ Market Connect 2022 online store
</h5>

</footer>