

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="top">
      <div class="logo">
          <h2><a href="/home"></a>MARKET- <span class="danger"> CONNECT </span></a></h2>
      </div>
  </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <span class="material-icons-sharp">home</span>
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        
        <li class="nav-item">
          <span class="material-icons-sharp">grid_view</span>
          <a class="nav-link" href="/api/products">Market</a>
        </li>
        <% if (!token) { %>
          <li class="nav-item">
            <span class="material-icons-sharp">login</span>
            <a class="nav-link" href="/register">Sign Up</a>
          </li>
          <li class="nav-item">
            <span class="material-icons-sharp">login</span>
            <a class="nav-link" href="/login">Login</a>
          </li>
        <% } else if (token) { %>
          <% if (Type === 'Admin') { %>
            <li class="nav-item">
              <span class="material-icons-sharp">receipt_long</span>
              <a class="nav-link" href="/users/agents">Agents</a>
            </li>
            <li class="nav-item">
              <span class="material-icons-sharp">receipt_long</span>
              <a class="nav-link" href="/users/users">Users</a>
            </li>
          <% } %>
          <% if (Type === 'User' || Type === 'Agent') { %>
            <li class="nav-item">
              <span class="material-icons-sharp">analytics</span>
              <a class="nav-link" href="/users/cart">Cart</a>
            </li>
            <li class="nav-item">
              <span class="material-icons-sharp">check</span>
              <a class="nav-link" href="/users/orders">Orders</a>
            </li>
          <% } %>
          <% if (Type === 'Agent') { %>
            <li class="nav-item">
              <span class="material-icons-sharp">grid_view</span>
              <a class="nav-link" href="/users/products">Products</a>
            </li>
          <% } %>
          <li class="nav-item">
            <span class="material-icons-sharp">person_outline</span>
            <a class="nav-link">Welcome <%= user %></a>
          </li>
          <li class="nav-item">
            <span class="material-icons-sharp">logout</span>
            <a class="nav-link" href="/users/logout">logout</a>
          </li>
        <% } %>
        <li class="nav-item" style="padding-top:3px; padding-left:3px;">
        <form action="/api/products/name" class="d-flex" role="search" method="POST">
          <input class="form-control me-2" type="search" name="srch" placeholder="Search by type" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </li>
      </ul>
    </div>
  </div>
</nav>